html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#menu-toggle {
  border: none!important;
  outline: none!important;
  box-shadow: none !important;
  color: darkgrey;
  position: fixed;
  z-index: 1;
}

#menu-toggle:focus {
  outline: none!important;
  border: none!important;
  box-shadow: none !important;
}

#wrapper.toggled #sidebar {
  margin-left: 0;
  min-width: 13rem;
  max-width: 90vw;

}

#sidebar {
  min-height: 100vh;
  margin-left: -20rem;
  width: 20rem;
  background: #D3CCE3;
  background: -webkit-linear-gradient(to bottom, #f4f6f8, #DBE1E9);
  background: linear-gradient(to bottom, #f4f6f8, #DBE1E9);
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  padding: 10px;
  z-index: 1;
}

#sidebar .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar .list-group {

}
#page-content-wrapper {
  min-width: 100vw;
  background-color: white;

}
.section-link {
  display: block;
  color: black;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 30px;

}


#profile-img {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 2px solid white;
  margin-top: 30px;

}

#name {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 20px;
}

#description {
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 60px;
}

#link-block {

  margin: auto;
  width: 50%;
  text-align: center;


}

a {
  text-decoration: none;
  padding-bottom: 8px;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  position: relative;
}

a:after {
  border-radius: 1em;
  border-top: .1em solid lightgray;
  content: "";
  position: absolute;
  right: 100%;
  bottom: .14em;
  left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

a:hover:after {
  right: 0;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}


#page-content-wrapper {
  min-width: 0;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1100px) { /* small devices only */

  #profile-img {
    max-width: 150px;
    margin-top: 10px;
  }

  .section-link {
    font-size: 15px!important;
  }

  #name {
    font-size: 20px!important;
  }

  #description {
    font-size: 13px!important;
  }


}








