<div class="d-flex" id="wrapper" [class.toggled]="toggled">
  <!-- Sidebar -->
  <div id="sidebar" class="container-fluid">
    <img id="profile-img" class="img-fluid" src="assets/photo1.jpg">
    <div id="name"><p>Elena Gofman</p></div>
    <div id="description"><p>Web Developer</p></div>
    <hr class="uk-divider" >
    <div id="link-block">
      <a class="section-link" routerLink="/">Home</a>
      <a class="section-link" routerLink="/info">About</a>
      <a class="section-link" routerLink="/projects">Projects</a>
      <a class="section-link" routerLink="/skills">Skills</a>
      <a class="section-link" routerLink="/contacts">Contacts</a>
    </div>


</div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">

      <button class="btn btn-lg" id="menu-toggle" (click)="changeView()"><i class="fas fa-bars"></i></button>
      <router-outlet></router-outlet>




  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->














